.icon:hover {
    fill: rgba(225, 225, 225, .8);
    cursor: pointer;
}

.player {
    position: absolute;
    display: flex;
    width: 800px;
    bottom: 20px;
    justify-content: space-around;
    color: rgba(153, 152, 152, 0.8);
}

.song-duration {
    float: right;
}

.song-progress {
    position: relative;
}

.player-progress-load {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ddd;
}

.player-progress-play {
    position: absolute;
    top: 0px;
    height: 2px;
    background: rgba(0, 0, 0, .1);
}

.player-progress-dot {
    position: absolute;
    display: inline-block;
    top: -4px;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: rgba(225, 225, 225);
    cursor: pointer;
}

.voice-progress {
    position: relative;
}

a {
    text-decoration: none;
}

.play-progress {
    position: relative;
    width: 350px;
    cursor: pointer;
}

#box {
    /* 外层包裹要设置宽和高，还有overflow:hidden; */
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin: 100px auto;
    /* border: 1px solid #000; */
}

.content {
    /* 内容区域高度自适应 */
    white-space: nowrap;
    width: 100%;
    height: 100%;
    color: #bdbdbe;
    cursor: pointer;
}

.content span:hover {
    color: rgba(225, 225, 225, .8);
}


.page-end {
    display: flex;
    justify-content: center;
}

body {
    background-color: rgba(0, 0, 0, 0.5);

}